/target/
/lumi.log
/.springBeans
.settings/org.eclipse.wst.common.component
src/main/webapp/META-INF/context_release.xml
src/main/webapp/META-INF/context.xml
*.component
.settings/org.eclipse.wst.common.component
src/main/webapp/META-INF/context.xml
