<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="ja">

<head>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"></meta>
<meta charset="utf-8"></meta>
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<meta name="description" content="のぼんのタスクをmarkdownで管理しようプロジェクト"></meta>
<meta name="author" content="A-pZ(ぢつにんさん)"></meta>

<title>のるとど！</title>
</head>
<body role="document">
<div th:fragment="tag">
	<!-- 新規タグ選択モーダル -->
	<div class="modal" id="tagModal" tabindex="-1" role="dialog"
		aria-labelledby="tagModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header jobModal">
					<button type="button" id="closeTagModal" class="close"
						data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">タグ選択</h4>
				</div>
				<div class="modal-body">
					追加するタグの名前を入力。重複した場合は無視します。
					<form id="tagform" name="tagform" method="POST" action="javascript:void(0)" class="form-inline">
						<input type="text" class="form-control" name="vo.display" id="display"/>
						<button type="button" id="addTagButton" class="btn btn-success">
							<span class="glyphicon glyphicon-tag"></span> 追加する
						</button>
						<span id="displayError" class="field-error"></span>
						<!-- 1.3.0 有効タスクのタグ一覧 -->
						<select id="effectTagList" class="form-control">
							<option th:each="tagname : ${tagList}" th:text="${tagname}" >タグその１</option>
						</select>
					</form>
				</div>
				<div class="modal-footer"></div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
</div>
</body>

</html>