<!DOCTYPE html>
<!-- システム共通リクエストパラメータ -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="ja">
	<body>
		<span id="taglist" >
			<span th:each="result : ${resultList}">
				<span class="tag tag-left" th:text="${result['display']}">タグ名</span
				><span th:if="${taskOwner}"
				><span class="tag tag-close" th:attr="data-drop-tagid=${result.tagid}" onclick="dropTag(this);">x</span>
				</span>
			</span>
			<span th:if="${taskOwner}">
				<span class="tag tag-new" id="newtag" data-toggle="modal" data-target="#tagModal">+ タグを追加する</span>
			</span>
		</span>
	</body>
</html>