body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.inputaddon-width {
	width: 120px;
	text-align: center;
	background-color: #f2f5f7;
}

.jobHover {
	background-color: #48a;
	color: #f9f9fb;
}

.field-error {
	color: #D53;
}
