body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.container {
	background-color: rgba(10, 25, 150, 0.02);
}

.inputaddon-width {
	width: 120px;
	text-align: center;
	background-color: #f2f5f7;
}

.jobHover {
	background-color: #48a;
	color: #f9f9fb;
}

.field-error {
	color: #D53;
}

/*
 * placeholder style. Original written cxnu (http://qiita.com/cxnu)
 */

// Google Chrome, Safari, Opera 15+, Android, iOS
::-webkit-input-placeholder {
    color: red; }

// Firefox 18-
:-moz-placeholder {
    color: red; opacity: 1; }

// Firefox 19+
::-moz-placeholder {
    color: red; opacity: 1; }

// IE 10+
:-ms-input-placeholder {
    color: red; }
